/* .Nav * {
  display: flex;
  gap: 24px;
  margin: 20px;
  font-size: 24px;
  justify-content: center;
} */

.inputFields {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 20px;
  align-items: center;
}

.inputFields button {
  width: 200px;
  margin-top: 20px;
  height: 32px;
}

.inputFields input {
  width: 400px;
  margin-bottom: 5px;
  height: 30px;
}

.movieContainer {
  width: 340px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2%;
  overflow: hidden;
  background-color: #e7b6b6cc;
  height: min-content;
  /* to make the container height only for the content size */
  /* so that when opening "show description" fo rone conatiner willnot affect the height of the other container */
}

.posterPic {
  height: 500px;
  width: 340px;
  object-fit: cover;
}

.movieDetails {
  margin: 0px 3px;
}

.MovieSpecs {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MovieSpecs h3 {
  margin: 0px;
}

.MovieSpecs h3:nth-child(1) {
  width: 65%;
  text-transform: uppercase;
}

.movieRating {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movieSummary {
  height: 100px;
  overflow-y: scroll;
  margin: 5px;
  font-size: 14px;
}

.ButtonForMovies {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 20px;
}

.ButtonForMovies button {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s;
}

.ButtonForMovies button:nth-child(1) {
  color: green;
}

.ButtonForMovies button:nth-child(2) {
  color: red;
}

.ButtonForMovies button:hover {
  transform: scale(1.2);
}

.font {
  font-family: "Poppins", sans-serif;
}

.wholeContent {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.homeHeading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addColor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContextButtons {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.gameBox{
  background-color: white;
  color: black;
  height: 10rem;
  width: 10rem; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 7rem;
  border: 1px solid black;
  cursor: pointer;
}

.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  /* so that grid width will not increase. it will occupy only the content width */
}

.fullBoard{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px
}